button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

@font-face {
  font-family: EducationVAGRounded-Bold;
  src: url(EducationVAGRounded-Bold.ttf);
}

body{
    font-family: EducationVAGRounded-Bold;
}
/* Slideshow container */
.slideshow {
    /*position: absolute;*/
    /*top: 1%;*/
    /*left: 50%;*/
    width:1200px;
    margin:40px auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

/* Hide the images by default */
.slides {
    display: none;
    /*position: absolute;*/
    top:100px;
}

.imageBox{
    /*text-align: center;*/
    justify-content: center;
    /*align-content: center;*/
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width:920px;
    height: 540px;
    margin:50px auto;
}

.answerBox{
    width: 400px;
    height: 100px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    font-size: 40px;
    cursor: pointer;
}

.answerBox img{
    margin:15px;
}

.front,.back{
    width:305px !important;
    height: 183px !important;
    /*margin-top: -5px;*/
}

.card img{
    width:305px !important;
    height: 183px !important;
}

/*.card{
    margin:-1px;
}*/

#tag {
    /*position: absolute;*/
    top:30px;
    /*left:50%;*/
    margin-left:auto;
    margin-right:auto;
    font-size: 24px;
}
/* Next & previous buttons */
#prev {
    position: absolute;
    margin-top: 285px;
    margin-left: -620px;
}

#next {
    position: absolute;
    margin-top: 285px;
    margin-left: 540px;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}