button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}



#lightBox{
    position: fixed;
    top:1%;
    left:50%;
    right:0;
    margin-left: -330px;
    background-position: center;
    background-repeat: no-repeat;
}

#lightBackground{
	position: absolute;
}

#play{
	position: absolute;
	left:20px;
	top:22px;
}

.lightSeq{
	position: absolute;
	display: inline-block;
	left:110px;
	top:22px;
}

.light{
	margin: 0px 18px;
}

#animateBox{
	position: fixed;
    top:10%;
    left:50%;
    margin-left: -400px;
    right:0;
    /*text-align: center;*/
    width:800px;
    /*display: none;*/
}

.animation{
	display: none;
}

#default{
    top:180px;
    left:220px;
    position: absolute;
}