button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#reset{
    position: fixed;
    top:10px;
    left:50%;
    right:0;
    margin-left: -45px;
}

#runningBackground{
    position: fixed;
    top:150px;
    left:50%;
    right:0;
    margin-left: -721px;
}

.runBox1{
    position: fixed;
    top:350px;
    left:50%;
    right:0;
    width:1500px;
    margin-left: -750px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}

.runBox2{
    position: fixed;
    top:650px;
    left:50%;
    right:0;
    width:1500px;
    margin-left: -750px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}

.player{
	position: absolute;
    z-index: 2;
    display: none;
}

.track{
    top:160px;
    position: relative;
    display: inline;
    z-index: 1;
}

.forward{
    cursor: pointer;
}

.backward{
    cursor: pointer;
}