button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


/* Slideshow container */
.slideshow {
    position: fixed;
    top: 1%;
    left: 50%;
    right: 0;
    margin-left: -490px;
    background-position: center;
    background-repeat: no-repeat;
}

#slideBackground {
    width: 980px;
    height: 425px;
    position: absolute;
}

/* Hide the images by default */
.slides {
    display: none;
    position: absolute;
}

/* Next & previous buttons */
#prev {
    position: absolute;
    top: 160px;
    left: -70px;
}

#next {
    position: absolute;
    top: 160px;
    left: 990px;
}

.cards {
    position: fixed;
    top: 500px;
    left: 50%;
    right: 0;
    margin-left: -490px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

#card1 {
    position: relative;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#card2 {
    position: relative;
    display: inline-block;
    left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#card3 {
    position: relative;
    display: inline-block;
    left: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



.cardBtn {
    position: fixed;
    top: 800px;
    left: 50%;
    right: 0;
    margin-left: -500px;
    background-position: center;
    background-repeat: no-repeat;
}

.starBtn {
    margin: 0 118px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.flip-horizontal-bottom {
    -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
