button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#reset{
    position: fixed;
    left:50%;
    margin-left: -25px;
}

.clothesBox1{
    position: fixed;
    top:1%;
    left:200px;
    right:0;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: url(../media/Left/background.svg);*/
    height:736px; 
    width:406px;
}

.clothesBox2{
    position: fixed;
    top:1%;
    left:1320px;
    right:0;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: url(../media/Left/background.svg);*/
    height:736px; 
    width:406px;
}

#background{
	position: absolute;
    z-index: 1;
}


.clothes{
	position: absolute;
/*	display: inline-block;*/
/*	left:110px;
	top:22px;*/
    /*margin:45px 30px;*/
    z-index: 10;
}

#cap{
    top: 80px;
    left: 210px;
}

#pants{
    top: 50px;
    left: 60px;
}

#shoes{
    left: 30px; 
    top: 550px;   
}
#socks{
    left: 260px;
    top: 550px;
}
#t-shirt{
    top: 310px;
    left: 40px;    
}
#coat{
    left: 250px;
    top: 300px;
}

#skirt{
    top: 80px;
    left: 230px;
}

#shorts{
    top: 80px;
    left: 40px;
}
#shoese{
    left: 50px; 
    top: 550px;   
}
#sockse{
    left: 260px;
    top: 550px;
}
#sweater{
    top: 310px;
    left: 50px; 
}
#dress{
    left: 250px;
    top: 300px;
}



.boyBox{
	position: fixed;
    top:20%;
    left:700px;
    right:0;
}

.boyDress{
    position: absolute;
	display: none;
}

#boy{
    position: absolute;
}

#pantsDress{
    z-index: 3;
}

#shoesDress{
    z-index: 2;
}
#socksDress{
    z-index: 1;
}
#t-shirtDress{
    z-index: 4;
}
#coatDress{
    z-index: 5;
}


.girlBox{
    position: fixed;
    top:20%;
    left:1000px;
    right:0;
}

.girlDress{
    position: absolute;
    display: none;
}

#girl{
    position: absolute;
}

#dressDress{
    z-index: 3;
}

#shoeseDress{
    z-index: 2;
}
#sockseDress{
    z-index: 1;
}
#sweaterDress{
    z-index: 4;
}
#skirtDress{
    z-index: 3;
}
#shortsDress{
    z-index: 3;
}